<% if user_signed_in? %>
    
<% @users.each do |user| %> 
    <div class="expenses">
            <h3 class="expense__header"><%= link_to user.name, user.name %></h3>
            
            <table class="expense__table">
              <thead class="expense__table--header">
                <tr>
                  <th class="header--title">Title</th>
                  <th class="header--price">Price</th>
                </tr>
              </thead>
              <tbody class="expense__table--body">
                <% user.expenses.each do |expense| %>
                    <tr class="expense__table--row">
                      <td class="expense__table--title"><%= expense.title %></td>
                      <td class="expense__table--price"><%= expense.price %></td>
                    </tr>
                  
                        <%# if expense.user == current_user %>
                        <%# end %>
                <% end %>
                    <tr class="expense__table--total">
                        <td>Total:</td>
                        <td><%= user.expenses.sum(:price) %></td>
                    </tr>
                <% if user == current_user %>
                    <tr id="expense__form--new--row">
                        <td colspan="2"><a id="expense__form--new" class="expense__form--new"><b>+</b></a></td>
                    </tr>
                    <%= simple_form_for(@expense, html: {class: "expense__form"}, defaults: { label: false, wrapper: false }) do |f| %>     
                        <tr id="expense__form--row">
                            <%= f.hidden_field :user_id, collection: User.all, label_method: :name %>
                            <td><%= f.input :date, as: :string, :placeholder => "D", input_html: { id: 'expense__form--datepicker', class: 'dpclass expense__form--date' } %><%= f.input :title, input_html: { class: 'expense__form--title' }%></td>
                            <td><%= f.input :price, input_html: { class: 'expense__form--price' } %></td>
                        </tr>
                        
                        <tr id="expense__form--submit--row">
                           <td colspan="2"><%= f.button :submit, :class => "expense__form--submit" %></td>
                        </tr>
                    <% end %>
                <% end %>
              </tbody>
            </table>
    </div>
<% end %>

      <%#= link_to 'Show', expense %>
      <%#= link_to 'Edit', edit_expense_path(expense) %>
      <%#= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %>




<!--
<%# if @expense.errors.any? %>
    <div id="error_explanation">
        <p><%#= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</p>
        <ul>
        <%# @expense.errors.full_messages.each do |msg| %>
            <li><%#= msg %></li>
        <%# end %>
        </ul>
    </div>
<%# end %>
-->




<% else %>
        Log in
<% end %>