<h1>Listing expenses (index)</h1>

  
<ul>
  <% @expenses.each do |expense| %>  
    <li>
      <%= expense.user.name %>
      <%= expense.date %>
      <%= expense.title %>
      <%= expense.price %>
      <%= link_to 'Show', expense %>
      <%= link_to 'Edit', edit_expense_path(expense) %>
      <%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
  <li><%= link_to 'New Expense', new_expense_path %></li>
</ul>

