<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Flat" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<nav>
  <%= link_to "All Expenses", dashboard_path %>
  
  <% if user_signed_in? %>
    <%= link_to current_user.name, edit_user_registration_path %>
    <%= link_to "Log out", logout_path %>
  <% else %>
    <%= link_to "Register", register_path %>
    <%= link_to "Log in", login_path %>
  <% end %>
</nav>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
